html, body, #map {
  height: 100%;
  margin: 0;
}
#map {
  background-color: #001111;
  background-image: url(ajax-loader.gif);
  background-repeat: no-repeat;
  background-position: center center;
}
