html, body {
  height: 100%;
}

.map {
  position: absolute;
  width: 100%;
  height: 100%;
}
.map.crosshair {
  cursor: crosshair;
}
.panel {
  position: absolute;
  background-color: white;
  padding: 10px;
  top: 20px;
  right: 20px;
  width: 250px;
}
.go-btn {
  cursor: pointer;
  color: white;
  background-color: #2887c6;
  top: 20px;
  right: 20px;
  padding: 10px 15px;
  user-select: none;
}
.go-btn:hover, .go-btn.toggled {
  background-color: #42A1E0;
}