html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font: 14px "open sans", sans-serif;
}

.map {
  position: relative;
  width: 100%;
  height: 100%;
}
.map.crosshair {
  cursor: crosshair;
}
.panel {
  position: absolute;
  background: rgba(255,255,255,0.6);
  padding: 10px;
  top: 20px;
  right: 20px;
  width: 250px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.1);
          box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.1);
}

.go-btn {
  cursor: pointer;
  color: white;
  background-color: #2887c6;
  padding: 10px 15px;
  user-select: none;
}
.go-btn:hover, .go-btn.toggled {
  background-color: #42A1E0;
}

#info {
}

.feature-list {
  max-height: 320px;
  width: 100%;
  overflow-y: auto;
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding: 0;
}
.feature-list-item {
  padding: 12px 16px;
  margin-top: 4px;
  background: #fff;
}